<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
		<title>Friends</title>
	</head>
	<body>
		<h1>Friend list</h1>
		<ul th:each="friend : ${addFriend}">
			<li th:text="${friend.name}"></li>
		</ul>
		<h1>Add friend</h1>
		<form action="#" th:action="@{/friendlist}" th:object="${friend}" method="get">
			<p>Name: <input type="text" th:field="*{name}"/></p>
			<p><input type="submit" value="Submit"/></p>
		</form>
	</body>
</html>